.gallery img{
    width:100%;
}

h2{
    font-family: Impact,fantasy;
    text-align: center;
    font-size:30px;
    color:#00ff00;
    font-style:italic;
}
h4{
    font-family:Impact ,fantasy;
    font-size:20px;
    font-style:italic;
    color:#RRGGBB;
}
p{
    font-family:Helvetica, sans-serif;
}
#menu {
    width:100;
    height:40px;
    background-color:#999;
    padding-top 20px;

}
#menu a{
    color:blue;
    font-family:Helvetica,sans serif;
    font-size:18px;
    text-decoration: none;
    font-weight:800;
    padding-left:20px;
    padding-right:20px;
}
#menu a:hover{
    color: #ff0000;
}

